{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block title %}
SEARCH
{% endblock title %}


{% block content %}

<form>

  <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>


</form>
<br><br>


<table align="center">
    <tr>
               <td width="300" height="50"><h2>Заголовок</h2></td>
               <td width="200"><h2>Дата создания</h2></td>
               <td><h2>Содержимое</h2></td>

           </tr>
    {% for post in posts %}
    <tr>
        <td  height="50">
            <b><a href="/news/{{ post.id }}">{{ post.article_header|censor }} </a> </b>
        </td>
        <td>
            {{ post.create_date }}
        </td>
        <td>
            {{ post.article_text|truncatechars:100|censor }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}